%li
  .group_block
    = link_to group.name, group
    - if group.year.present?
      .year= "| #{h(group.year)}"
    .boom_button
      = link_to 'x', group, method: :delete, data: { confirm: 'Delete this group?' }, title: "Delete: #{group.name}", class: [:btn, 'btn-xs', 'btn-danger']
